body {
  background-image: url(/images/back3.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: rgb(253, 149, 63);
  font-size: 50px;
  text-shadow: 2px 2px 5px rgb(248, 248, 248);
}
.search {
  display: flex;
  width: 250px;
}
.search button {
  padding: 10px;
  margin: 2px;
  border: 0;
  border-radius: 6px;
  margin-left: 10px;
  color: #313250;
  background-color: #dabadb;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}
.search button:hover {
  background-color: rgb(134, 182, 86);
  color: aliceblue;
}
.result {
  width: 400px;
  display: none;
  margin-top: 30px;
  border-radius: 70px;
  background-color: rgba(226, 226, 226, 0.685);
}
.noResult {
  color: white;
  font-size: 12px;
  text-shadow: 2px 2px 5px black;
}
.title {
  width: 100%;
  color: rgb(255, 129, 25);
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.info .temp,
.info .wind {
  flex: 1;
  text-align: center;
}
.tempTitle {
  color: #252525;
  font-size: 18px;
  text-shadow: 3px 3px 5px rgb(241, 241, 241);
}
.windTitle {
  color: #252525;
  font-size: 18px;
  text-shadow: 3px 3px 5px rgb(241, 241, 241);
}
.tempInfo {
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}
.tempInfo sup {
  font-size: 10px;
}
.windInfo {
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}
.windInfo span {
  font-size: 10px;
}
